In [57]:
import pandas as pd

In [58]:
import numpy as np

In [59]:
import matplotlib.pyplot as plt

In [60]:
import seaborn as sns

In [61]:
import scipy.stats as stats

In [62]:
import statsmodels.api as sm

In [63]:
%matplotlib inline

In [64]:
gdp_df = pd.read_csv('data/gdp_per_capita.csv', nrows=6500)

In [65]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
6495        Zimbabwe  1994  2768.309953              NaN
6496        Zimbabwe  1993  2572.870395              NaN
6497        Zimbabwe  1992  2591.007534              NaN
6498        Zimbabwe  1991  2906.272849              NaN
6499        Zimbabwe  1990  2819.549467              NaN

In [66]:
gdp_df.shape

(6500, 4)

6501 rows and 4 columns

In [67]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

Column data type is object

In [68]:
gdp_df=gdp_df.drop(columns=['Value Footnotes'])

In [69]:
gdp_df.rename(columns={'Value':'GDP_Per_Capita'})

     Country or Area  Year  GDP_Per_Capita
0        Afghanistan  2017     1758.465636
1        Afghanistan  2016     1757.023490
2        Afghanistan  2015     1766.593077
3        Afghanistan  2014     1795.735834
4        Afghanistan  2013     1807.762344
5        Afghanistan  2012     1772.764974
6        Afghanistan  2011     1626.764793
7        Afghanistan  2010     1671.581238
8        Afghanistan  2009     1502.354073
9        Afghanistan  2008     1267.644939
10       Afghanistan  2007     1247.753118
11       Afghanistan  2006     1123.871323
12       Afghanistan  2005     1099.104568
13       Afghanistan  2004     1025.208245
14       Afghanistan  2003     1055.557459
15       Afghanistan  2002     1016.245409
16           Albania  2017    11803.283883
17           Albania  2016    11356.719009
18           Albania  2015    10971.046329
19           Albania  2014    10700.522802
20           Albania  2013    10492.670315
21           Albania  2012    10369.562385
22           Albania  2011    10207.753519
23           Albania  2010     9927.631333
24           Albania  2009     9525.372374
25           Albania  2008     9154.714872
26           Albania  2007     8450.919272
27           Albania  2006     7914.036824
28           Albania  2005     7426.116354
29           Albania  2004     7001.054941
...              ...   ...             ...
6470          Zambia  1991     2278.802025
6471          Zambia  1990     2339.137959
6472        Zimbabwe  2017     2568.410072
6473        Zimbabwe  2016     2489.097494
6474        Zimbabwe  2015     2509.008140
6475        Zimbabwe  2014     2506.490220
6476        Zimbabwe  2013     2491.635140
6477        Zimbabwe  2012     2486.847930
6478        Zimbabwe  2011     2168.110293
6479        Zimbabwe  2010     1928.017081
6480        Zimbabwe  2009     1632.999866
6481        Zimbabwe  2008     1475.140653
6482        Zimbabwe  2007     1809.791702
6483        Zimbabwe  2006     1893.936230
6484        Zimbabwe  2005     1974.645081
6485        Zimbabwe  2004     2104.143512
6486        Zimbabwe  2003     2240.903026
6487        Zimbabwe  2002     2706.031494
6488        Zimbabwe  2001     2977.768505
6489        Zimbabwe  2000     2945.993212
6490        Zimbabwe  1999     3054.064189
6491        Zimbabwe  1998     3099.076182
6492        Zimbabwe  1997     3036.422224
6493        Zimbabwe  1996     2985.856605
6494        Zimbabwe  1995     2736.486436
6495        Zimbabwe  1994     2768.309953
6496        Zimbabwe  1993     2572.870395
6497        Zimbabwe  1992     2591.007534
6498        Zimbabwe  1991     2906.272849
6499        Zimbabwe  1990     2819.549467

[6500 rows x 3 columns]

In [88]:
continent_df=pd.read_csv('data/continents.csv')

In [93]:
gdp_df.rename('Count'={"CÃ´te d'Ivoire":'Ivory Coast'})

     Country or Area  Year         Value
0        Afghanistan  2017   1758.465636
1        Afghanistan  2016   1757.023490
2        Afghanistan  2015   1766.593077
3        Afghanistan  2014   1795.735834
4        Afghanistan  2013   1807.762344
5        Afghanistan  2012   1772.764974
6        Afghanistan  2011   1626.764793
7        Afghanistan  2010   1671.581238
8        Afghanistan  2009   1502.354073
9        Afghanistan  2008   1267.644939
10       Afghanistan  2007   1247.753118
11       Afghanistan  2006   1123.871323
12       Afghanistan  2005   1099.104568
13       Afghanistan  2004   1025.208245
14       Afghanistan  2003   1055.557459
15       Afghanistan  2002   1016.245409
16           Albania  2017  11803.283883
17           Albania  2016  11356.719009
18           Albania  2015  10971.046329
19           Albania  2014  10700.522802
20           Albania  2013  10492.670315
21           Albania  2012  10369.562385
22           Albania  2011  10207.753519
23           Albania  2010   9927.631333
24           Albania  2009   9525.372374
25           Albania  2008   9154.714872
26           Albania  2007   8450.919272
27           Albania  2006   7914.036824
28           Albania  2005   7426.116354
29           Albania  2004   7001.054941
...              ...   ...           ...
6470          Zambia  1991   2278.802025
6471          Zambia  1990   2339.137959
6472        Zimbabwe  2017   2568.410072
6473        Zimbabwe  2016   2489.097494
6474        Zimbabwe  2015   2509.008140
6475        Zimbabwe  2014   2506.490220
6476        Zimbabwe  2013   2491.635140
6477        Zimbabwe  2012   2486.847930
6478        Zimbabwe  2011   2168.110293
6479        Zimbabwe  2010   1928.017081
6480        Zimbabwe  2009   1632.999866
6481        Zimbabwe  2008   1475.140653
6482        Zimbabwe  2007   1809.791702
6483        Zimbabwe  2006   1893.936230
6484        Zimbabwe  2005   1974.645081
6485        Zimbabwe  2004   2104.143512
6486        Zimbabwe  2003   2240.903026
6487        Zimbabwe  2002   2706.031494
6488        Zimbabwe  2001   2977.768505
6489        Zimbabwe  2000   2945.993212
6490        Zimbabwe  1999   3054.064189
6491        Zimbabwe  1998   3099.076182
6492        Zimbabwe  1997   3036.422224
6493        Zimbabwe  1996   2985.856605
6494        Zimbabwe  1995   2736.486436
6495        Zimbabwe  1994   2768.309953
6496        Zimbabwe  1993   2572.870395
6497        Zimbabwe  1992   2591.007534
6498        Zimbabwe  1991   2906.272849
6499        Zimbabwe  1990   2819.549467

[6500 rows x 3 columns]

In [72]:
gdp_df.rename(columns={"CuraÃ§ao":'Curaçao'})

     Country or Area  Year         Value
0        Afghanistan  2017   1758.465636
1        Afghanistan  2016   1757.023490
2        Afghanistan  2015   1766.593077
3        Afghanistan  2014   1795.735834
4        Afghanistan  2013   1807.762344
5        Afghanistan  2012   1772.764974
6        Afghanistan  2011   1626.764793
7        Afghanistan  2010   1671.581238
8        Afghanistan  2009   1502.354073
9        Afghanistan  2008   1267.644939
10       Afghanistan  2007   1247.753118
11       Afghanistan  2006   1123.871323
12       Afghanistan  2005   1099.104568
13       Afghanistan  2004   1025.208245
14       Afghanistan  2003   1055.557459
15       Afghanistan  2002   1016.245409
16           Albania  2017  11803.283883
17           Albania  2016  11356.719009
18           Albania  2015  10971.046329
19           Albania  2014  10700.522802
20           Albania  2013  10492.670315
21           Albania  2012  10369.562385
22           Albania  2011  10207.753519
23           Albania  2010   9927.631333
24           Albania  2009   9525.372374
25           Albania  2008   9154.714872
26           Albania  2007   8450.919272
27           Albania  2006   7914.036824
28           Albania  2005   7426.116354
29           Albania  2004   7001.054941
...              ...   ...           ...
6470          Zambia  1991   2278.802025
6471          Zambia  1990   2339.137959
6472        Zimbabwe  2017   2568.410072
6473        Zimbabwe  2016   2489.097494
6474        Zimbabwe  2015   2509.008140
6475        Zimbabwe  2014   2506.490220
6476        Zimbabwe  2013   2491.635140
6477        Zimbabwe  2012   2486.847930
6478        Zimbabwe  2011   2168.110293
6479        Zimbabwe  2010   1928.017081
6480        Zimbabwe  2009   1632.999866
6481        Zimbabwe  2008   1475.140653
6482        Zimbabwe  2007   1809.791702
6483        Zimbabwe  2006   1893.936230
6484        Zimbabwe  2005   1974.645081
6485        Zimbabwe  2004   2104.143512
6486        Zimbabwe  2003   2240.903026
6487        Zimbabwe  2002   2706.031494
6488        Zimbabwe  2001   2977.768505
6489        Zimbabwe  2000   2945.993212
6490        Zimbabwe  1999   3054.064189
6491        Zimbabwe  1998   3099.076182
6492        Zimbabwe  1997   3036.422224
6493        Zimbabwe  1996   2985.856605
6494        Zimbabwe  1995   2736.486436
6495        Zimbabwe  1994   2768.309953
6496        Zimbabwe  1993   2572.870395
6497        Zimbabwe  1992   2591.007534
6498        Zimbabwe  1991   2906.272849
6499        Zimbabwe  1990   2819.549467

[6500 rows x 3 columns]

In [73]:
gdp_df.rename(columns={"SÃ£o TomÃ© and Principe":'Sao Tome and Principe'})

     Country or Area  Year         Value
0        Afghanistan  2017   1758.465636
1        Afghanistan  2016   1757.023490
2        Afghanistan  2015   1766.593077
3        Afghanistan  2014   1795.735834
4        Afghanistan  2013   1807.762344
5        Afghanistan  2012   1772.764974
6        Afghanistan  2011   1626.764793
7        Afghanistan  2010   1671.581238
8        Afghanistan  2009   1502.354073
9        Afghanistan  2008   1267.644939
10       Afghanistan  2007   1247.753118
11       Afghanistan  2006   1123.871323
12       Afghanistan  2005   1099.104568
13       Afghanistan  2004   1025.208245
14       Afghanistan  2003   1055.557459
15       Afghanistan  2002   1016.245409
16           Albania  2017  11803.283883
17           Albania  2016  11356.719009
18           Albania  2015  10971.046329
19           Albania  2014  10700.522802
20           Albania  2013  10492.670315
21           Albania  2012  10369.562385
22           Albania  2011  10207.753519
23           Albania  2010   9927.631333
24           Albania  2009   9525.372374
25           Albania  2008   9154.714872
26           Albania  2007   8450.919272
27           Albania  2006   7914.036824
28           Albania  2005   7426.116354
29           Albania  2004   7001.054941
...              ...   ...           ...
6470          Zambia  1991   2278.802025
6471          Zambia  1990   2339.137959
6472        Zimbabwe  2017   2568.410072
6473        Zimbabwe  2016   2489.097494
6474        Zimbabwe  2015   2509.008140
6475        Zimbabwe  2014   2506.490220
6476        Zimbabwe  2013   2491.635140
6477        Zimbabwe  2012   2486.847930
6478        Zimbabwe  2011   2168.110293
6479        Zimbabwe  2010   1928.017081
6480        Zimbabwe  2009   1632.999866
6481        Zimbabwe  2008   1475.140653
6482        Zimbabwe  2007   1809.791702
6483        Zimbabwe  2006   1893.936230
6484        Zimbabwe  2005   1974.645081
6485        Zimbabwe  2004   2104.143512
6486        Zimbabwe  2003   2240.903026
6487        Zimbabwe  2002   2706.031494
6488        Zimbabwe  2001   2977.768505
6489        Zimbabwe  2000   2945.993212
6490        Zimbabwe  1999   3054.064189
6491        Zimbabwe  1998   3099.076182
6492        Zimbabwe  1997   3036.422224
6493        Zimbabwe  1996   2985.856605
6494        Zimbabwe  1995   2736.486436
6495        Zimbabwe  1994   2768.309953
6496        Zimbabwe  1993   2572.870395
6497        Zimbabwe  1992   2591.007534
6498        Zimbabwe  1991   2906.272849
6499        Zimbabwe  1990   2819.549467

[6500 rows x 3 columns]

In [74]:
gdp_df.rename(columns={"Sint Maarten (Dutch part)":'Sint Maarten'})

     Country or Area  Year         Value
0        Afghanistan  2017   1758.465636
1        Afghanistan  2016   1757.023490
2        Afghanistan  2015   1766.593077
3        Afghanistan  2014   1795.735834
4        Afghanistan  2013   1807.762344
5        Afghanistan  2012   1772.764974
6        Afghanistan  2011   1626.764793
7        Afghanistan  2010   1671.581238
8        Afghanistan  2009   1502.354073
9        Afghanistan  2008   1267.644939
10       Afghanistan  2007   1247.753118
11       Afghanistan  2006   1123.871323
12       Afghanistan  2005   1099.104568
13       Afghanistan  2004   1025.208245
14       Afghanistan  2003   1055.557459
15       Afghanistan  2002   1016.245409
16           Albania  2017  11803.283883
17           Albania  2016  11356.719009
18           Albania  2015  10971.046329
19           Albania  2014  10700.522802
20           Albania  2013  10492.670315
21           Albania  2012  10369.562385
22           Albania  2011  10207.753519
23           Albania  2010   9927.631333
24           Albania  2009   9525.372374
25           Albania  2008   9154.714872
26           Albania  2007   8450.919272
27           Albania  2006   7914.036824
28           Albania  2005   7426.116354
29           Albania  2004   7001.054941
...              ...   ...           ...
6470          Zambia  1991   2278.802025
6471          Zambia  1990   2339.137959
6472        Zimbabwe  2017   2568.410072
6473        Zimbabwe  2016   2489.097494
6474        Zimbabwe  2015   2509.008140
6475        Zimbabwe  2014   2506.490220
6476        Zimbabwe  2013   2491.635140
6477        Zimbabwe  2012   2486.847930
6478        Zimbabwe  2011   2168.110293
6479        Zimbabwe  2010   1928.017081
6480        Zimbabwe  2009   1632.999866
6481        Zimbabwe  2008   1475.140653
6482        Zimbabwe  2007   1809.791702
6483        Zimbabwe  2006   1893.936230
6484        Zimbabwe  2005   1974.645081
6485        Zimbabwe  2004   2104.143512
6486        Zimbabwe  2003   2240.903026
6487        Zimbabwe  2002   2706.031494
6488        Zimbabwe  2001   2977.768505
6489        Zimbabwe  2000   2945.993212
6490        Zimbabwe  1999   3054.064189
6491        Zimbabwe  1998   3099.076182
6492        Zimbabwe  1997   3036.422224
6493        Zimbabwe  1996   2985.856605
6494        Zimbabwe  1995   2736.486436
6495        Zimbabwe  1994   2768.309953
6496        Zimbabwe  1993   2572.870395
6497        Zimbabwe  1992   2591.007534
6498        Zimbabwe  1991   2906.272849
6499        Zimbabwe  1990   2819.549467

[6500 rows x 3 columns]

In [92]:
gdp_df_merge=pd.merge(gdp_df,continent_df, on='country')

KeyError: 'country'

In [91]:
gdp_df.rename(columns={'Country or Area':'Country'})

          Country  Year         Value
0     Afghanistan  2017   1758.465636
1     Afghanistan  2016   1757.023490
2     Afghanistan  2015   1766.593077
3     Afghanistan  2014   1795.735834
4     Afghanistan  2013   1807.762344
5     Afghanistan  2012   1772.764974
6     Afghanistan  2011   1626.764793
7     Afghanistan  2010   1671.581238
8     Afghanistan  2009   1502.354073
9     Afghanistan  2008   1267.644939
10    Afghanistan  2007   1247.753118
11    Afghanistan  2006   1123.871323
12    Afghanistan  2005   1099.104568
13    Afghanistan  2004   1025.208245
14    Afghanistan  2003   1055.557459
15    Afghanistan  2002   1016.245409
16        Albania  2017  11803.283883
17        Albania  2016  11356.719009
18        Albania  2015  10971.046329
19        Albania  2014  10700.522802
20        Albania  2013  10492.670315
21        Albania  2012  10369.562385
22        Albania  2011  10207.753519
23        Albania  2010   9927.631333
24        Albania  2009   9525.372374
25        Albania  2008   9154.714872
26        Albania  2007   8450.919272
27        Albania  2006   7914.036824
28        Albania  2005   7426.116354
29        Albania  2004   7001.054941
...           ...   ...           ...
6470       Zambia  1991   2278.802025
6471       Zambia  1990   2339.137959
6472     Zimbabwe  2017   2568.410072
6473     Zimbabwe  2016   2489.097494
6474     Zimbabwe  2015   2509.008140
6475     Zimbabwe  2014   2506.490220
6476     Zimbabwe  2013   2491.635140
6477     Zimbabwe  2012   2486.847930
6478     Zimbabwe  2011   2168.110293
6479     Zimbabwe  2010   1928.017081
6480     Zimbabwe  2009   1632.999866
6481     Zimbabwe  2008   1475.140653
6482     Zimbabwe  2007   1809.791702
6483     Zimbabwe  2006   1893.936230
6484     Zimbabwe  2005   1974.645081
6485     Zimbabwe  2004   2104.143512
6486     Zimbabwe  2003   2240.903026
6487     Zimbabwe  2002   2706.031494
6488     Zimbabwe  2001   2977.768505
6489     Zimbabwe  2000   2945.993212
6490     Zimbabwe  1999   3054.064189
6491     Zimbabwe  1998   3099.076182
6492     Zimbabwe  1997   3036.422224
6493     Zimbabwe  1996   2985.856605
6494     Zimbabwe  1995   2736.486436
6495     Zimbabwe  1994   2768.309953
6496     Zimbabwe  1993   2572.870395
6497     Zimbabwe  1992   2591.007534
6498     Zimbabwe  1991   2906.272849
6499     Zimbabwe  1990   2819.549467

[6500 rows x 3 columns]